* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family:'Roberto';
}
.Header {
    background-color: #1F2937;
}
.Header .top {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header .top div {
    padding: 1em 10em;
    display: flex;
    gap: 10px;
}
.Header .top div p {
    color: #f9faf8;
    font-size: 24px;
}
.Header .top div img {
    height: 24px;
    width: auto;
}
.Header .top ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px 10em;
    flex: 1;
    gap: 1em;
}
.Header .top ul a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.Header .bottom {
    display: flex;
    align-items: center;
    padding: 5em 10em;
}
.Header .bottom .left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.Header .bottom .left-text h1 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    width: 65%;
}
.Header .bottom .left-text p {
    color: #E5E7EB;
    font-size: 18px;
    width: 65%;
}
.Header .bottom .left-text a {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
}
.Header .bottom img{
    height: 250px;
    width: 650px;
}
/* AFTER THIS IS THE BODY */
.body h1 {
    text-align: center;
    padding: 1em 0px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}
.body .boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15em;
    padding-bottom: 5em;
}
.body .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.body .boxes .box p {
    width: 150px;
    height: auto;
}
.body .boxes .box img {
    width: 150px;
    height: 200px;
    border: 5px solid #3882f6;    
    border-radius: 25px;
}
/* AFTER THIS IS THE quote */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 5em 20em;
    background-color: #E5E7EB;
}
.quote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}
.bodycall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21em;
}
.bodycall .call {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 40%;
    width: 70%;
}
.bodycall .call .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    gap: 5px;
}
.bodycall a {
    background-color: #3882f6;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
}
/* Footer after this */
.footer {
    background-color: #1F2937;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}